.happyContainer {
  min-width: 400px;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(#66a6ff 60%, #89f7fe);
  border-radius: 20px;
  margin: 20px 20px 0 20px;
  font-size: 2em;
  color: white;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.6);
}
ul {
  margin: 0 auto;
}

.happyContainer li {
  list-style: none;
  margin-bottom: 0px;
}
.happyPlace {
  flex-grow: 1;
  margin: 20px auto;
}
.voteList {
  padding: 5px;
}

.voteList li {
  margin-bottom: 5px;
}

.voteBtn {
  margin: 25px auto;
}
