body {
  /*background-color: #f0f0f0;*/
  background-image: linear-gradient(#09203f, #537895);
  height: 100vh;
}

.App {
  width: 75%;
  padding: 50px;
  margin: 150px auto;
  background-color: #f2f2f2;
}
.header {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.title {
  padding: 5px;
  margin-right: 10px;
  font-size: 4em;
  color: rgba(34, 142, 250, 0.5);
}
.awesome {
  margin: auto 0;
  color: white;
  background-color: dodgerblue;
  font-size: 4em;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid dodgerblue;
}

input {
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
  padding: 0.8em 0.5em;
  width: 100%;
  font-size: 1em;
}

button {
  border: 1px solid #ff4567;
  border-radius: 12px;
  background-color: #ff4567;
  font-size: 0.7em;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.6);

  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover,
button:focus {
  background-color: #e43f5d;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.loginScreen {
  width: 75%;
  padding: 50px;
  margin: 150px auto;
}
